* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 1440px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    border-bottom: 1px solid #111111;
    height: 72px;
}

.nav-content, .nav-column1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-column2, .home, .service-dropdown, .login {
    display: flex;
    align-items: center;
    gap: 32px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.service-dropdown {
    gap: 4px;
}

.service-dropdown img:hover {
    cursor: pointer;
}

.home a, .service-dropdown a {
    color: black;
}

.login {
    gap: 16px;
}

.login-link, .register {
    padding: 8px 20px;
    border: 1px solid black;
    gap: 8px;
}

.login-link {
    color: black;
}

.register {
    background-color: black;
    color: white;
}

header {
    display: flex;
    padding: 72px 120px;
    gap: 80px;
}

.header-content, .S2-content, .S3-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.header-column, .content1, .content2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content1 h1 {
    font-family: 'Roboto';
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
}

.content1 p {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.header-button {
    display: flex;
    padding-top: 16px;
    gap: 20px;
}

.header-CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 208px;
    background-color: black;
    color: white;
}

.header-button p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.S1 {
    display: flex;
    flex-direction: column;
    padding: 72px 200px;
    gap: 80px;
}

.S1 h2 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.row {
    display: flex;
    gap: 48px;
}

.S1-column, .S1-column-content, .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.title {
    text-align: center;
}

.title h3 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
}

.title p {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.S2, .S3, .S4, .S5 {
    display: flex;
    padding: 72px 120px;
    gap: 80px;
}

.title2, .title3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title2 p, .title3 p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.title-content, .title-content2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-content h1, .title-content2 h1 {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
}

.title-content p, .title-content2 p, li {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.actions {
    display: flex;
    padding-top: 16px;
    gap: 24px;
}

.S2-actions-button, .S3-actions-button {
    display: flex;
    padding: 12px 24px;
    border: 1px solid black;
    gap: 8px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
}

.S3-content {
    flex-direction: row-reverse;
}

.S4-title, .S5-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.S4-title h1, .S5-title h1 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
}

.S4-title p, .S5-title p {
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.S4-content {
    display: flex;
    gap: 32px;
}

.S4-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.stars {
    display: flex;
    gap: 4px;
}

.S4-column p {
    text-align: left;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.avatar-content h4 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.avatar-content p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.S5-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.accordion-item {
    height: 73px;
}

.accordion-item, .divider {
    border-top: 1px solid black;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    gap: 12px;
}

.box p {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.box img:hover {
    cursor: pointer;
}

.S6 {
    display: flex;
    flex-direction: column;
    padding: 112px 64px;
    gap: 80px;
    background-color: #7B7B7B;
    color: white;
}

.S6-content, .content4 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.content4 h1 {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
}

.content4 p {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.actions2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    gap: 16px;
}

.S6-actions2-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid black;
    gap: 8px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 234px;
    background-color: black;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 80px 120px;
    gap: 80px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.links {
    display: flex;
    gap: 80px;
}

.links-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 113px;
}

.links-column h4 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.link {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: black;
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.frame {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frame h4 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.frame p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-actions, form {
    display: flex;
    gap: 16px; 
}

.text-input {
    display: flex;
    padding: 12px;
    border: 1px solid black;
    gap: 8px;
}

input {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #505050;
}

.subscrever {
    display: flex;
    padding: 12px 24px;
    border: 1px solid black;
    gap: 8px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
}

.credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    gap: 32px;
}

.credits-row {
    display: flex;
    gap: 24px;
}

.copyright p, .credit-link {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: black;
}

.credits-links {
    display: flex;
    gap: 24px;
}

.credit-link {
    text-decoration: underline;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media screen and (max-width: 1254px) {
    .footer-content {
        gap: 32px;
    }
}

@media screen and (max-width: 1224px) {
    .links {
        gap: 40px;
    }
}

@media screen and (max-width: 1213px) {
    input {
        width: 100%;
    }

    nav {
        padding: 0 60px;
    }

    header, .S1, .S2, .S3, .S4, .S5, .S6, footer {
        padding: 72px 60px;
    }
}

@media screen and (max-width: 1120px) {
    nav {
        padding: 0 30px;
    }

    header, .S1, .S2, .S3, .S4, .S5, .S6, footer {
        padding: 72px 30px;
    }
}

@media screen and (max-width: 1060px) {
    .content1 h1 {
        font-size: 48px;
        line-height: 56px;
    }
    
    .content1 p, .box p, .content4 p {
        font-size: 16px;
        line-height: 25px;
    }

    .S1 h2 {
        font-size: 40px;
        line-height: 46px;
    }
    .title h3 {
        font-size: 20px;
        line-height: 23.3px;
    }
    
    .title p, .title-content p, .title-content2 p, li, .S4-title p, .S5-title p, .S6-actions2-button {
        font-size: 16px;
        line-height: 24px;
    }

    .title-content h1, .title-content2 h1, .S4-title h1, .S5-title h1, .content4 h1 {
        font-size: 40px;
        line-height: 52px;
    }
    
    .avatar-content h4, .avatar-content p {
        font-size: 15px;
        line-height: 24px;
    }

    .header-content, .S2-content, .S3-content {
        gap: 40px;
    }

    .placeholder-img {
        max-width: 100%;
    }

}

@media screen and (max-width: 933px) {
    .links {
        gap: 32px;
    }
}

@media screen and (max-width: 909px) {
    .subscrever {
        justify-content: center;
        width: 20%;
    }
}

@media screen and (max-width: 897px) {
    .header-content, .S2-content, .S3-content {
        flex-direction: column;
    }

    .content1 h1 {
        font-size: 42px;
        line-height: 50px;
    }

    .header-button {
        align-items: center;
    }

    .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .S4 {
        justify-content: center;
    }

    .S4-content {
        flex-direction: column;
        align-items: center;
        width: 378.67px;
    }

    .links, .credits-row {
        flex-direction: column;
        justify-content: center;
    }

    .credits-row {
        gap: 0px;
    }
}

@media screen and (max-width: 735px) {
    .home {
        display: none;
    }
}

@media screen and (max-width: 636px) {
    .credits-links {
        flex-direction: column;
        gap: 8px;
    }

    .social-links {
        margin-bottom: 4.5rem;
    }
}

@media screen and (max-width: 499px) {
    header, .header-content, .header-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header, .S1, .S2, .S3, .S4, .S5, .S6, footer {
        padding: 72px 30px;
    }

    .S4-column, .S4-title p {
        width: 82%;
    }

}